Repository pagopa/pagopa-taxonomy, pull requests merged in 2023-10, with the labels that each got.

#10 gh action
  .devops/deploy-pipelines.yml
  .github/workflows/00_anchore.yml
  .github/workflows/01_assignee.yml
  .github/workflows/02_check_pr.yml
  .github/workflows/03_code_review.yml
  .github/workflows/04_release_deploy.yml
  .github/workflows/04_self_hosted.yml
  .github/workflows/check_metadata_pr.yml
  .github/workflows/deploy.yml
  .github/workflows/sonar_analysis.yml
  .identity/.terraform.lock.hcl
  .identity/00_data.tf
  .identity/02_application_action.tf
  .identity/03_github_environment.tf
  .identity/99_main.tf
  .identity/99_variables.tf
  .identity/README.md
  .identity/env/dev/backend.ini
  .identity/env/dev/backend.tfvars
  .identity/env/dev/terraform.tfvars
  .identity/env/prod/backend.ini
  .identity/env/prod/backend.tfvars
  .identity/env/prod/terraform.tfvars
  .identity/env/uat/backend.ini
  .identity/env/uat/backend.tfvars
  .identity/env/uat/terraform.tfvars
  .identity/terraform.sh
Labels: size/large, ignore-for-release

#12 [NOD-455] gh migration
  .github/workflows/01_add_patch_label.yml
  .github/workflows/02_check_pr.yml
  .github/workflows/04_release_deploy.yml
  .identity/03_github_environment.tf
  pom.xml
Labels: ignore-for-release

#14 Semver test
  .github/workflows/01_add_patch_label.yml
  .github/workflows/04_release_deploy.yml
Labels: ignore-for-release, size/small

#19 Semver pr test
  .github/workflows/01_add_patch_label.yml
  .github/workflows/03_code_review.yml
Labels: patch, size/small

#20 fix
  .github/workflows/01_add_patch_label.yml
Labels: size/small

#21 [NOD-530] feat: Semantic versioning setup
  .github/workflows/04_release_deploy.yml
  src/main/java/it/gov/pagopa/taxonomy/Info.java
  src/main/java/it/gov/pagopa/taxonomy/TaxonomyGetFunction.java
  src/main/java/it/gov/pagopa/taxonomy/TaxonomyUpdateFunction.java
  src/main/java/it/gov/pagopa/taxonomy/TaxonomyUpdateFunctionTrigger.java
  src/main/java/it/gov/pagopa/taxonomy/UpdateTaxonomy.java
  src/main/java/it/gov/pagopa/taxonomy/exception/AppErrorCodeMessageEnum.java
  src/main/java/it/gov/pagopa/taxonomy/exception/AppErrorCodeMessageInterface.java
  src/main/java/it/gov/pagopa/taxonomy/exception/AppException.java
  src/main/java/it/gov/pagopa/taxonomy/model/csv/TaxonomyCsv.java
  src/main/java/it/gov/pagopa/taxonomy/model/json/Taxonomy.java
  src/main/java/it/gov/pagopa/taxonomy/util/AppMessageUtil.java
  src/main/java/it/gov/pagopa/taxonomy/util/AppUtil.java
  src/test/resources/response/get_taxonomy_datalake.json
  src/test/resources/response/get_taxonomy_standard.json
Labels: size/large, ignore-for-release

#22 feat: [NOD-549] CSV Download
  integration-test/behave.ini
  integration-test/features/Taxonomy_KO.feature
  integration-test/features/Taxonomy_OK.feature
  integration-test/features/config/config.json
  integration-test/features/environment.py
  integration-test/features/steps/steps.py
  integration-test/features/steps/utils.py
  integration-test/run_tests.sh
  integration-test/taxonomy.csv
  postman-collection/Taxonomy.postman_collection.json
  src/main/java/it/gov/pagopa/taxonomy/TaxonomyGetFunction.java
  src/main/java/it/gov/pagopa/taxonomy/enums/ExtensionEnum.java
  src/main/resources/messages.properties
Labels: patch

#23 Fix deploy pipeline
  .github/workflows/04_release_deploy.yml
Labels: patch, size/small

#25 fix cd
  .github/workflows/04_release_deploy.yml
  pom.xml
Labels: patch, size/small

#26 fix: [NOD-554] Changed CSV headers and tests. Added openapi.json and new response me…
  README.md
  integration-test/features/Taxonomy_KO.feature
  integration-test/features/Taxonomy_OK.feature
  integration-test/features/config/config.json
  integration-test/features/environment.py
  integration-test/run_tests.sh
  openapi/openapi.json
  pom.xml
  src/main/java/it/gov/pagopa/taxonomy/Info.java
  src/main/java/it/gov/pagopa/taxonomy/model/csv/TaxonomyCsv.java
  src/main/java/it/gov/pagopa/taxonomy/model/function/InfoMessage.java
  src/main/java/it/gov/pagopa/taxonomy/model/json/Taxonomy.java
  src/main/java/it/gov/pagopa/taxonomy/model/json/TaxonomyStandard.java
  src/main/resources/app.properties
Labels: patch, size/small
